@import './base.css';
@import './flex.css';
@import './button.css';
@import './tabs.css';

#app {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1280px;
}

a,
.green {
  text-decoration: none;
  color: rgb(100, 115, 0);
  transition: 0.4s;
}

a:hover {
  background-color: hsla(61, 100%, 37%, 0.2);
}

.width-full {
  width: 100%;
}

.cursor-default {
  cursor: default !important;
}

@keyframes glare {
  0%{
    color: var(--danger);
  }
  50%{
    color: var(--multicolor);
  }
  100%{
    color: var(--danger);
  }
}

.animete-danger {
  animation: glare 0.8s linear infinite;
}

.font-24 {
  font-size: 24px;
  line-height: 0;
}

.m-v-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

textarea,
input {
  margin-right: 16px;
  padding: 7px 10px;
  height: 32px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  font-family: 'Arial', sant-serif;
  color: var(--color-text);
  font-size: 14px;
  color-scheme: dark;
}

textarea {
  flex: 1;
  min-height: 32px;
  resize: vertical;
}
